@mixin serif-font {
    font-family: 'Noto Serif', Georgia, 'Times New Roman', Times, serif;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

$white: #DADDD8;
$green: rgb(65, 75, 42);
$blue: #11301d;

$serif: 'Noto Serif', Georgia, 'Times New Roman', Times, serif
