@mixin serif-font {
    font-family: 'Noto Serif', Georgia, 'Times New Roman', Times, serif;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

$white: rgb(230, 230, 230);
$green: #DFB0C4;
$blue: rgb(85, 89, 141);

$serif: 'Noto Serif', Georgia, 'Times New Roman', Times, serif
