// Global Styles

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: darkred;
    header {
        background-color: red;
        #splash-wrapper {
            background-color: orange;
            #splash-content {
                background-color: yellow;
                section {
                    background-color: rgb(0, 255, 0);
                    color: white;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 20px;
                    p {
                        background-color: green;
                        text-align: center;
                        span {
                            background-color: blue;
                            font-size: 2em;
                        }
                    }
                    hr {
                        width: 100px;
                        margin: 10px auto;
                    }
                }
            }
        }
        #nav-socials-wrapper {
            background-color: aqua;
            #navigation {
                background-color: navy;
                ul {
                    background-color: purple;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 3px 0px;
                    li {
                        display: inherit;
                        justify-content: center;
                        width: 100%;
                        background-color: violet;
                        padding: 10px;
                        margin: 3px 0px;
                        a {
                            background-color: pink;
                            text-transform: uppercase;
                            text-decoration: none;
                            letter-spacing: 2px;
                            color: black;
                        }
                    }
                }
            }
            #socials {
                background-color: salmon;
                ul {
                    background-color: cadetblue;
                    display: flex;
                    justify-content: space-evenly;
                    li {
                        background-color: lemonchiffon;
                        list-style-type: none;
                        a {
                            background-color: crimson;
                            display: flex;
                            img {
                                background-color: paleturquoise;
                                max-width: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}