* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: darkred;
}

body header {
  background-color: red;
}

body header #splash-wrapper {
  background-color: orange;
}

body header #splash-wrapper #splash-content {
  background-color: yellow;
}

body header #splash-wrapper #splash-content section {
  background-color: lime;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

body header #splash-wrapper #splash-content section p {
  background-color: green;
  text-align: center;
}

body header #splash-wrapper #splash-content section p span {
  background-color: blue;
  font-size: 2em;
}

body header #splash-wrapper #splash-content section hr {
  width: 100px;
  margin: 10px auto;
}

body header #nav-socials-wrapper #navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 0px;
}

body header #nav-socials-wrapper #navigation ul .nav-links {
  display: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.562);
  padding: 10px;
  margin: 3px 0px;
}

body header #nav-socials-wrapper #navigation ul .nav-links a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: black;
}

body header #nav-socials-wrapper #navigation ul #socials-button {
  display: none;
  position: relative;
}

body header #nav-socials-wrapper #navigation ul #socials-button:hover > #dropdown {
  opacity: 1;
}

body header #nav-socials-wrapper #navigation ul #socials-button #dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 30px;
  left: 0px;
  width: inherit;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  background-color: green;
  opacity: 0;
  left: 0;
}

body header #nav-socials-wrapper #socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
}

body header #nav-socials-wrapper #socials ul li {
  list-style-type: none;
}

body header #nav-socials-wrapper #socials ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header #nav-socials-wrapper #socials ul li a img {
  max-width: 50px;
}

@media screen and (min-width: 600px) {
  body header #nav-socials-wrapper #navigation ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body header #nav-socials-wrapper #navigation ul #socials-button {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body header #nav-socials-wrapper #navigation ul #socials-button li a {
    background-color: yellow;
  }
  body header #nav-socials-wrapper #socials {
    display: none;
  }
}
/*# sourceMappingURL=stylesheet.css.map */