$serif: 'Noto Serif',
Georgia,
'Times New Roman',
Times,
serif;

body {

    .index-section {

        h1 {
            // background-color: orange;
            font-family: $serif;
        }

        hr {
            max-width: 50px;
            margin: 5px 0px 10px;
            border-color: rgb(75, 95, 122);
        }

        article {
            background-color: #FFF6EF;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 2px 2px 10px black;
            border: 6px solid #656839;

            h2 {
                text-transform: uppercase;
                font-size: 1.1em;
                letter-spacing: 2px;
                font-family: $serif;
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.336);
            }

            p {
                // background-color: green;
                margin: 20px;
            }
        }
    }

    #introduction {
        display: flex;
        flex-direction: column;
        // background-color: red;
        max-width: 90%;
        margin: 10px auto;
        padding: 10px;

        h1 {
            margin-bottom: 10px;
        }

        article {
            img {
                max-width: 70%;
                border-radius: 10px;
                margin: 0px 0px 20px;
                box-shadow: 2px 2px 10px rgb(16, 20, 26);
            }
        }
    }

    #values {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: 10px auto;
        padding: 10px;

        hr {
            margin: 5px 0px 0px;

        }

        article {
            padding: 10px;
            margin: 10px 0px;

            p {
                margin: 10px 20px;
            }

            img {
                max-width: 95%;
                border-radius: 10px;
                margin: 10px;
                box-shadow: 2px 2px 10px rgb(16, 20, 26);
            }
        }
    }
}


@media screen and (min-width: 500px) {
    body {
        #introduction {

            article {
                max-width: 100%;
                p {
                }

                img {
                    padding: 0px;
                    margin: 20px;
                    max-width: 70%;
                }
            }
        }

        #values {
            #values-container {
                display: flex;
                flex-flow: wrap;
                justify-content: space-between;

                article {
                    max-width: 40%;

                    p {
                        margin: 10px;
                    }

                    img {
                        max-width: 90%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 600px) {
    body {
        #introduction {
            
            article {
                max-width: 100%;
                flex-direction: row;
                p {
                }

                img {
                    padding: 0px;
                    margin: 20px;
                    max-width: 40%;
                }
            }
        }
    }
}

@media screen and (min-width: 900px) {
    body {
        #introduction {
            max-width: 900px;
        }

        #values {
            max-width: 900px;
            margin: auto;

            #values-container {
                article {
                    max-width: 20%;
                    

                    p {
                        padding: 0px;
                        margin: 5px;
                    }
                }
            }
        }
    }
}