// Importing Global Styles
@import '../global-styles'; 

body {
    // Introduction and Values div styles.
    .index-section {
        h1 {
            @include serif-font;
            color: $white;
            text-shadow: 1px 1px 3px black;
        }

        hr {
            max-width: 50px;
            margin: 5px 0px 10px;
            border-color: rgb(75, 95, 122);
        }

        article {
            @include flex-column;
            background-color: $white;
            align-items: center;
            box-shadow: 2px 2px 10px black;
            border: 6px solid $blue;

            h2 {
                @include serif-font;
                text-transform: uppercase;
                font-size: 1.1em;
                letter-spacing: 2px;
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.336);
            }

            p {
                margin: 20px;
            }
        }
    }

    // Introduction specific div styles.
    #introduction {
        @include flex-column;
        max-width: 90%;
        margin: 10px auto;
        padding: 10px;

        h1 {
            margin-bottom: 10px;
        }

        article {
            img {
                max-width: 70%;
                border-radius: 10px;
                margin: 0px 0px 20px;
                box-shadow: 2px 2px 10px rgb(16, 20, 26);
            }
        }
    }

    // Values specific div styles.
    #values {
        @include flex-column;
        justify-content: center;
        max-width: 90%;
        margin: 10px auto;
        padding: 10px;
        article {
            padding: 10px;
            margin: 10px 0px;
            @include flex-column;
            align-items: center;
            p {
                margin: 10px 20px;
            }

            img {
                max-width: 100%;
                border-radius: 10px;
                margin: 10px;
                box-shadow: 2px 2px 10px rgb(16, 20, 26);
            }
        }
    }
}

// When screen is wider than 500px.
@media screen and (min-width: 500px) {
    body {

        // Widening introduction div.
        #introduction {
            article {
                max-width: 100%;

                img {
                    padding: 0px;
                    margin: 20px;
                    max-width: 70%;
                }
            }
        }

        // Wrapping values articles.
        #values {
            #values-container {
                @include flex-row;
                flex-flow: wrap;
                justify-content: space-between;

                article {
                    max-width: 40%;

                    p {
                        margin: 10px;
                    }

                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

// When the screen is larger than 600px.
@media screen and (min-width: 600px) {
    body {
        // Changing layout of introduction div.
        #introduction {
            article {
                @include flex-row;
                max-width: 100%;

                img {
                    padding: 0px;
                    max-width: 40%;
                }
            }
        }
    }
}

// When screen is larger than 900px.
@media screen and (min-width: 900px) {
    
    // Stops divs expanding beyond 900px.
    body {
        #introduction {
            max-width: 900px;
        }

        #values {
            max-width: 900px;
            margin: auto;

            #values-container {
                article {
                    max-width: 20%;

                    p {
                        padding: 0px;
                    }
                }
            }
        }
    }
}