// This css styles the accordian on the portfolio page 
// Importing global styles
@import '../global-styles';

// Entire accordian div including title.
#accordian {
    @include flex-column;
    max-width: 100%;
    margin: 0px auto 20px;
    padding: 0px 20px;

    // Transition class.
    .transition { 
        transition: all 0.5s ease-in-out;
    }

    // Main heading.
    h1 {
        @include serif-font;
        font-size: 1.5em;
        letter-spacing: 0px;
        margin: 20px 0px 10px;
    }

    // Section content styling.
    p {
        font-size: 1em;
        position: relative;
        overflow: hidden;
        line-height: 1.6em;
        padding: 0px 10px;
        max-height: 800px;
        transition: max-height 0.5s, opacity 0.5s;
        opacity: 1;
        transform: translate(0, 0);
        z-index: 2;
    }

    ul {
        list-style: none;
        perspective: 900;
        padding: 3px 0px;
        margin: 0;
        background-color: $green;
        box-shadow: 2px 2px 8px black;

        // List of categories.
        li {

            // Section headings.
            h2 {
                @include serif-font;
                margin: 3px 6px;
                padding: 10px;
                background-color: $white;
                text-transform: uppercase;
                font-size: 1.2em;
                letter-spacing: 2px;
            }
        }

        // Unseen.
        i {
            position: absolute;
            transform: translate(-25px, 0);
            margin-top: 20px;
            right: 0;
            &:before, &:after {
                content: "";
                @extend .transition;
                position: absolute;
                background-color: black;
                width: 3px;
                height: 7px;
            }
            &:before {
                transform: translate(-2px, 0) rotate(45deg);
            }
            &:after {
                transform: translate(2px, 0) rotate(-45deg);
            }
        }

        // Unseen.
        input[type=checkbox] {
            position: absolute;
            cursor: pointer;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            &:checked {
                &~p {
                    margin-top: 0;
                    max-height: 0;
                    opacity: 0;
                }
                &~i {
                    &:before {
                        transform: translate(2px, 0) rotate(45deg);
                    }
                    &:after {
                        transform: translate(-2px, 0) rotate(-45deg);
                    }
                }
            }
        }
    }
}

// If the screen is wider than 600px.
@media screen and (min-width: 600px) {
    body {
        #accordian {
            max-width: 90%;
        }
    }
}

// If the screen is wider than 900px;
@media screen and (min-width: 900px) {
    body {
        #accordian {
            max-width: 900px;
        }
    }
}