@import "../global-styles";

body {
    #accordian {
        ul {
            li {
                // Technical Skills Section
                #technical-skills {
                    @include flex-column;
                    .skill-title {
                        color: $white;
                    }
                    // Containing each icon and bar.
                    #containerspan {
                        @include flex-row;
                        justify-content: center;
                        align-items: center;
                        .tech-icon {
                            max-width: 45px;
                            padding: 6px 0px;
                        }
                        .bar {
                            max-width: 90%;            
                        }
                    }
                    // Tools I use to develop section.
                    #development-text {
                        background-color: $white;
                        margin: 8px 0px;
                        padding-left: 6px;
                        border: 6px solid $blue;
                        #development-list {
                            @include flex-row;
                            justify-content: space-evenly;
                            img {
                                max-width: 15%;
                                padding: 10px;
                            }
                        }
                    }
                }
                // Projects section.
                #project-section {
                    @include flex-column;
                    justify-content: center;
                    align-items: center;
                    color: $white;
                    // Title style.
                    .project-title {
                        font-weight: bold;
                        font-size: 1.5em;
                        margin-top: 6px;
                        text-shadow: 2px 2px 4px black;
                    }
                    // Project information.
                    .project-info {
                        @include flex-column;
                        margin: 6px 0px;
                        img {
                            background-color: $white;
                            max-width: 100%;
                            margin: 10px;
                            box-shadow: 2px 2px 5px black;
                        }
                    }   
                }
                // Interactive skills section.
                #interactive-skills {
                    color: $white;
                    @include flex-column;
                    justify-content: center;
                    align-items: center;
                    .interactive-section {
                        @include flex-column;
                        margin: 6px;
                        .interactive-title {
                            font-size: 1.5em;
                            font-weight: bold;
                            text-shadow: 2px 2px 4px black;
                            margin-bottom: 6px;
                        }
                    }
                }
                // About me section wrapper.
                #about-me-wrapper {
                    @include flex-column;
                    #about-me {
                        background-color: $white;
                        margin: 6px;
                        padding: 6px;
                        border: 6px solid $blue;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 600px) {
    body {
        #accordian {
            ul {
                li {
                    // Technical Skills section.
                    #technical-skills {
                        justify-content: center;
                        align-items: center;
                        .skill-title {
                            color: $white;
                            align-self: flex-start;
                            margin-left: 6%;
                            max-width: 500px;
                        }
                        // Contains bar and icon.
                        #containerspan {
                            max-width: 500px;
                            .tech-icon {
                            }
                            .bar {                  
                            }
                        }
                        // Tools I use to develop section.
                        #development-text {
                            max-width: 500px;
                        }
                    }
                }
            }
        }
    }
}

// If the screen is wider than 900px;
@media screen and (min-width: 900px) {
    body {
        #accordian {
            ul {
                li {
                    // Projects section.
                    #project-section {
                        .project-title {

                        }
                        .project-info {
                            img {
                                max-width: 50%;
                                align-self: center;
                            }
                        }
                    }
                }
            }
        }
    }
}