// Importing global styles.
@import '../global-styles';

body {

    // Main section.
    main {

        // Div for the form and heading.
        #form-container {
            background-color: $blue;
            margin: 20px;
            padding: 6px;

            h1 {
                @include serif-font;
                background-color: $green;
                text-align: center;
                text-transform: uppercase;
                text-shadow: 1px 1px 3px black;
                color: $white;
                font-size: 1.5em;
                letter-spacing: 2px;
                padding: 3px 0px 3px 10px;
                font-weight: 400;
                margin-bottom: 6px;
            }

            form {
                color: black;
                background-color: $white;
                display: flex;
                flex-direction: column;
                max-width: 100%;

                // Labels for each input.
                p {
                    margin: 0px 3px;
                    padding: 6px;
                    font-size: 1.2em;
                    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.349);
                }

                // Input boxes.
                input {
                    margin: 0px 6px;
                    font-size: 1.2em;
                    max-width: 100%;
                    border: 6px solid $green;

                    &:focus {
                        border: 6px solid $blue;
                    }
                }

                // Message text area.
                textarea {
                    margin: 0px 6px;
                    height: 150px;
                    max-width: 100%;
                    border: 6px solid $green;
                    font-size: 1.2em;

                    &:focus {
                        border: 6px solid $blue;
                    }
                }

                #submit {
                    align-self: center;
                    font-size: 1.2em;
                    padding: 3px 6px;
                    margin: 6px;
                    border: 1px solid gray;
                }
            }
        }
    }
}

// If the screen is wider than 600px.
@media screen and (min-width: 600px) {
    main {
        @include flex-row;
        justify-content: center;

        #form-container {
            form {
                input {
                    width: 250px;
                }

                textarea {
                    width: 400px;
                }
            }
        }
    }
}