// Importing global styles.
@import '../global-styles';

body {
    // Main section for the blog page.
    #blog-main {
        @include flex-column;
        max-width: 90%;
        margin: 20px auto;
        align-items: center;

        h2 {
            @include serif-font;
            margin-bottom: 10px;
            text-align: center;
        }

        // Contains blog nav and articles. 
        #blog-wrapper {
            @include flex-column;

            // Blog quick-navigation.
            #blog-nav {
                background-color: $green;
                margin-bottom: 6px;
                padding: 6px;

                nav {
                    h3 {
                        @include serif-font;
                        padding: 3px 6px;
                        background-color: $white;
                        margin-bottom: 6px;
                    }

                    ul {
                        background-color: $white;

                        li {
                            list-style-type: none;
                            display: flex;
                            padding: 2px 6px;

                            a {
                                color: navy;

                                &:hover {
                                    color: #313313;
                                }
                            }
                        }
                    }
                }
            }

            // Wrapper of blog headings and content.
            #blog-section-wrapper {
                background-color: $blue;

                // Class for headings and articles.
                .blog-section {
                    background-color: $green;
                    margin: 6px;
                    padding: 6px;

                    h2 {
                        background-color: $white;
                        margin-bottom: 6px;
                        text-align: left;
                        padding: 3px 3px 3px 6px;
                    }

                    .blog-article-content {
                        background-color: $white;
                        display: flex;
                        align-content: center;
                        p {
                            @include flex-column;
                            align-items: center;
                            padding: 6px;
                            img {
                                max-width: 100%;
                                padding: 10px;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}


// If the screen is wider than 600px.
@media screen and (min-width: 600px) {
    body {

        // Jump to top button.
        #jump {
            position: fixed;
            bottom: 2px;
            right: 2px;
            text-align: center;
            font-size: 2em;
            width: 30px;
            height: 30px;
            border: solid 6px #313313;

            &:hover {
                border: solid 6px $blue;
            }

            a {
                @include flex-row;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: black;
                background-color: $white;
                width: 100%;
                max-height: 100%;
            }
        }

        #blog-main {
            #blog-wrapper {
                #blog-nav {
                    nav {
                        ul {
                            @include flex-row;
                            justify-content: space-evenly;
                            flex-wrap: wrap;
                        }
                    }
                }
                #blog-section-wrapper {
                    .blog-section {
                        .blog-article-content {
                            p {
                                display: block;
                                img {
                                    float: left;
                                    max-width: 300px;
                                    padding: 10px 10px 10px 6px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// If screen is wider than 900px;
@media screen and (min-width: 900px) {
    #blog-main {
        #blog-wrapper {
            max-width: 900px;
            .blog-section {
                .blog-section {
                }
            }
        }
    }
}